*.o
*.lib
*.a
*.la
*.lo
*.dll
*.so
*.so.*
*.dylib
*.exe
mongo-c-performance
performance-testdata/*
!performance-testdata/README.md
results.json
CMakeCache.txt
cmake_install.cmake
Makefile
mongo-c-performance.cbp
cmake-build-*
cmake-build
